.main-content {
    padding-top: 20px;
    /* flex-basis: 47%; */
    /* border-right: 1px solid var(--twitter-background); */
    /* overflow-y: scroll; */
    /* width: 800px; */
}

.tweetBox {
    width: 800px;
    /* padding-top: 20px; */
    padding-bottom: 10px;
    /* border-bottom: 8px solid var(--twitter-background); */
    /* padding-right: 10px; */

    /* height: 480px; */
    /* overflow: hidden; */
    background: #fff;
    border-radius: 15px;
    border: solid #844D23;
    /* transition: height 0.2s ease; */
    /* box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12); */
}

.post header {
    font-size: 22px;
    font-weight: 600;
    padding: 17px 0;
    text-align: center;
    border-bottom: 1px solid #bfbfbf;
}


.tweetBox form {
    display: flex;
    flex-direction: column;
    margin: 20px 25px;
}

textarea {
    /* width: 70%; */
    /* min-height: 900px; */

    padding: 12px 20px;
    /* box-sizing: border-box; */
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.title {
    /* font-size: 20px;
    font-weight: 600;
    padding: 17px 0;
    /* text-align: center; */
    border-bottom: 1px solid #bfbfbf;
    height: 50px;
}

.text_field {
    height: 200px;
}

.tags {
    height: 50px;
}

.post_submit {
    background-color: rgba(132, 77, 35);
    border: solid;
    color: white;
    font-weight: 900;

    border-radius: 20px;
    width: 150px;
    height: 40px;
    margin-top: 20px;
    /* margin-left: auto; */
}