.main-content {
    padding-top: 20px;
    /* flex-basis: 47%; */
    /* border-right: 1px solid var(--twitter-background); */
    /* overflow-y: scroll; */
    /* width: 8000px; */
}


.post {
    width: 750px;
    display: flex;
    /* align-items: flex-start; */
    background: #fff;
    /* border-bottom: 1px solid var(--twitter-background); */
    padding-bottom: 10px;
    border: solid #844D23;
    border-radius: 15px;
    /* height: 100%; */
}

.post__avatar {
    padding: 20px;
}

.post__avatar img {
    border-radius: 50%;
    height: 40px;
}

.post__body {
    /* flex: 1; */
    /* width: 500px; */
    padding: 10px;
}

.poster_name {
    font-size: 20px;
    margin-bottom: 5px;
    padding-top: 30px;
    /* width: 600px; */
}

.title {
    padding-top: 10px;
    font-size: 20px;
    margin-bottom: 5px;
    /* width: 600px; */
}

.post_content {
    width: 600px;
    object-fit: contain;
    font-size: 18px;
    margin-bottom: 5px;
    overflow: scroll;
    height: auto;
    word-wrap: break-word;
    white-space: normal;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post_submit {
    background-color: rgba(132, 77, 35);
    border: solid;
    color: white;
    font-weight: 900;

    border-radius: 20px;
    width: 100px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
}