<!DOCTYPE html>
<html lang="en">

    <head>
        <title> About Us</title>
        <link rel="stylesheet" href="/static/aboutus.css" />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('main')}}">
                <img src="static/logo2.png" class="logo">
            </a>
            <ul>
                <li> <a href="{{ url_for('login') }}"> LOG IN </a></li>
            </ul>

        </div>
        <div class="content">
            <p> Collaborative story building app
                <br> giving people the power
                <br> to tell stories that matter to them
            </p>
            <div class="button">
                <a href="{{ url_for('main')}}" class="btn"> Go to StoryStack.com</a>
            </div>
        </div>
        <div class="content2">
            <p>
                StoryStack is an open service that's home
                <br> to a world of diverse people, persepectives,
                <br> and ideas
            </p>
        </div>
    </body>

</html>
