<!DOCTYPE html>
<html lang="en">

    <head>
        <title> About Us</title>
        <link rel="stylesheet" href="/static/info.css" />
    </head>

    <body>
        <div class="navbar">
            <a href="{{ url_for('main')}}">
                <img src="static/logo2.png" class="logo">
            </a>
            <ul>
                <li> <a href="{{ url_for('login') }}"> LOG IN </a></li>
            </ul>

        </div>
        <div class="content">
            <h1> Create And Share Stories With Your Friends</h1>
            <p>
                Our features help you express yourself
                <br> and connect with other people.
            </p>
            <div class="button">
                <a href="{{ url_for('main')}}" class="btn"> Go to StoryStack.com</a>
            </div>
        </div>
    </body>

</html>
