<html>

    <head>
        <link rel="stylesheet" href="/static/signup.css" />
    </head>

    <body>
        <div class="content">
            <img src = "static/logo2.png" class = "logo">
            <h1>LogIn</h1>
            <div id="messages" class="messages">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="notification">
                    {{ messages[0] }}
                </div>
                {% endif %}
                {% endwith %}
            </div>
                <form method="POST" action="/login" onsubmit="return meetsLoginConditions();">
                    <input class="login_field" id="email" type="text" name="email" placeholder="Email">
                    <br>
                    <input class="login_field" id="password" type="password" name="password" placeholder="Password">
                    <br>
                    <input class="login_submit" type="submit" value="Log in">
                </form>

            <p>Don't have an account yet? <a href="{{ url_for('signup') }}">Sign up</a></p>
        </div>
        <script type="text/javascript" src="static/script.js"></script>
    </body>

</html>
