<html>

    <head>
        <link rel="stylesheet" href="" />
    </head>

    <body>
        <form method="POST" action="/post?parent={{parent_id}}">
            <input class="title_field" id="title" type="text" name="title" placeholder="Title">
            <br>
            <input class="text_field" id="text" type="text" name="text" placeholder="Placeholder. story here.">
            <br>
            <input class="tags_field" id="tags" type="text" name="tags" placeholder="Placeholder. tags here.">
            <br>
            <input class="post_submit" id="submit_button" type="submit" value="Submit Post">

        </form>

    </body>

</html>
